@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,500;0,600;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  font-size: 16px;
}

header .menu-barra-pc {
  background-color: #74b9ff;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  min-height: 6rem;
  top: 0;
  left: 0;
  padding: 0 3rem;
}
header .menu-barra-pc .busqueda {
  width: 400px;
  position: relative;
  height: 35px;
}
header .menu-barra-pc .busqueda input {
  height: 100%;
  width: 100%;
  padding: 10px 15px;
  box-shadow: 0 10px 10px -7.5px rgba(0, 0, 0, 0.4);
  border-radius: 30px;
  letter-spacing: 0;
  border: none;
  outline: none !important;
  font-size: 1rem;
}
header .menu-barra-pc .busqueda input::placeholder {
  color: rgba(116, 185, 255, 0.5);
}
header .menu-barra-pc .busqueda i.fa-search {
  top: 50%;
  transform: translateY(-50%);
  position: absolute;
  right: 0;
  padding-right: 1rem;
  color: #74b9ff;
}
header .menu-barra-pc a {
  text-decoration: none;
  color: #fff;
}
header .menu-barra-pc .iconos a {
  text-decoration: none;
  color: #fff;
  font-size: 1.75rem;
  margin-right: 1rem;
}
header .menu-barra-pc .iconos a:last-child {
  margin-right: 0;
}
header .barra-sticky-pc {
  display: flex;
  flex-direction: row;
  background-color: #74b9ff;
  padding: 20px 0;
  text-align: center;
  width: 100%;
  justify-content: center;
  align-items: center;
}
header .barra-sticky-pc .menu-principal a {
  text-shadow: 0px 5px 5px -5px rgba(0, 0, 0, 0.4);
  text-decoration: none;
  color: #fff;
  margin: 1rem;
}

.productos {
  margin-top: 0;
  margin-bottom: 2.5rem;
}
.productos h2 {
  font-size: 2.5rem;
  color: #74b9ff;
  font-weight: 900;
  font-style: italic;
  letter-spacing: 1px;
}
.productos figure {
  position: relative;
  width: 100%;
  background-color: #fff;
  text-align: left;
  transition: all 0.3s ease-in-out;
}
.productos figure img {
  max-width: 100%;
  vertical-align: top;
  cursor: pointer;
}
.productos figure .icons {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.productos figure .icons a {
  text-decoration: none;
  margin: 2px;
  opacity: 0;
  transform: translateY(50%);
  animation: all 0.3s ease-in-out;
}
.productos figure .icons a i.fas {
  display: block;
  width: 40px;
  line-height: 40px;
  font-size: 1.4rem;
  background-color: #fff;
  text-align: center;
  color: #000;
}
.productos figure .icons a i.fas:hover {
  background-color: #4da3e2;
  color: #ffffff;
  cursor: pointer;
}
.productos figure .icons a i.far {
  display: block;
  width: 40px;
  line-height: 40px;
  font-size: 1.4rem;
  background-color: #fff;
  text-align: center;
  color: #000;
}
.productos figure .icons a i.far:hover {
  background-color: #4da3e2;
  color: #ffffff;
  cursor: pointer;
}
.productos figure:hover a {
  opacity: 1;
  transform: translateX(0);
}
.productos figure figcaption {
  padding: 10px;
}
.productos figure figcaption h3 {
  font-size: 1.2rem;
  font-weight: 600;
  margin: 0 0 4px;
}
.productos figure figcaption p.price {
  font-weight: 700;
  color: #4da3e2;
  font-size: 1.05rem;
  margin: 0.5rem 0;
}

a#btnizquierda {
  left: -100px;
  width: 5% !important;
  background-color: rgba(0, 0, 0, 0.2);
  height: 90px;
}

a#btnderecha {
  right: -86px;
  width: 5% !important;
  background-color: rgba(0, 0, 0, 0.2);
  height: 90px;
}

.redes {
  background-color: rgba(247, 241, 227, 0.3);
  padding: 3rem 0 4rem 0;
}
.redes h1 {
  text-align: center;
  font-size: 2.5rem;
  color: #74b9ff;
  font-weight: 900;
  text-transform: uppercase;
  font-style: italic;
  letter-spacing: 1px;
}
.redes .redes-sociales {
  width: 100%;
  text-align: center;
  margin: 0 auto;
}
.redes .redes-sociales a {
  margin: 2rem;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
}
.redes .redes-sociales a:first-child {
  color: #1877f2;
  cursor: pointer !important;
}
.redes .redes-sociales a:last-child {
  color: #e4405f;
  cursor: pointer !important;
}
.redes .redes-sociales a i.fa-instagram {
  color: #e4405f;
  font-size: 1.25rem;
}
.redes .redes-sociales a i.fa-facebook-square {
  color: #1877f2;
  font-size: 1.25rem;
}
.redes .contenedor {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  max-width: 1080px;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}
.redes .contenedor .columna-facebook {
  width: 50%;
}
.redes .contenedor .columna-instagram {
  width: 50%;
}
.redes .contenedor .columna-instagram .contenedor-de-posts {
  width: 100%;
  padding: 0 3rem;
}
.redes .contenedor .columna-instagram .contenedor-de-posts .post {
  display: flex;
  flex-direction: row;
  border-radius: 2.5px;
  margin-bottom: 0.5rem;
  flex-wrap: wrap;
  border: 1px solid #dddef2;
  align-items: center;
  padding: 0.5rem;
}
.redes .contenedor .columna-instagram .contenedor-de-posts .post:last-child {
  margin-bottom: 0;
}
.redes .contenedor .columna-instagram .contenedor-de-posts .post .img-container {
  width: 35%;
  position: relative;
}
.redes .contenedor .columna-instagram .contenedor-de-posts .post .img-container img {
  vertical-align: top;
  width: 100%;
}
.redes .contenedor .columna-instagram .contenedor-de-posts .post .img-container .to-instagram {
  background-color: rgba(0, 0, 0, 0.4);
  top: 0;
  left: 0;
  opacity: 0;
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.4s ease-in-out;
}
.redes .contenedor .columna-instagram .contenedor-de-posts .post .img-container .to-instagram:hover {
  opacity: 1;
}
.redes .contenedor .columna-instagram .contenedor-de-posts .post .img-container .to-instagram a {
  text-decoration: none;
}
.redes .contenedor .columna-instagram .contenedor-de-posts .post .img-container .to-instagram a i.fab {
  color: #fff;
  font-size: 1.75rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.redes .contenedor .columna-instagram .contenedor-de-posts .post .img-container .to-instagram a i.fab:hover {
  font-size: 2.25rem;
}
.redes .contenedor .columna-instagram .contenedor-de-posts .post .texto-container {
  width: 65%;
  padding: 1.75rem;
}
.redes .contenedor .columna-instagram .contenedor-de-posts .post .texto-container h2 {
  font-size: 1.25rem;
  font-weight: 600;
}
.redes .contenedor .columna-instagram .contenedor-de-posts .post .texto-container p {
  color: #696969;
  font-size: 0.95rem;
  font-weight: 500;
}
.redes .contenedor .columna-instagram .contenedor-de-posts .post .texto-container span {
  font-size: 0.8rem;
  color: #696969;
  font-weight: 200;
}

.contacto {
  padding: 4.5rem 0;
}

#formularioContacto .btn-custom {
  background-color: #74b9ff;
}
#formularioContacto .btn-custom:active {
  background-color: #4da3e2;
}
#formularioContacto .form-check a {
  text-decoration: none;
  color: #000;
}
#formularioContacto input, #formularioContacto textarea {
  border-radius: 0;
  outline: none !important;
  box-shadow: none !important;
}
#formularioContacto textarea {
  min-width: 100%;
  max-width: 100%;
  min-height: 4rem;
  max-height: 6rem;
}
#formularioContacto button[type=submit]:active {
  transform: scale(0.95);
}

footer {
  background-color: #222;
  padding: 2.5rem 0;
  color: #fff;
}
footer .container {
  text-align: center;
}
footer .container h2 {
  font-size: 1.15rem;
  color: #f5f6fa;
}
footer .container p {
  font-size: 0.8rem;
  color: #f5f6fa;
}

@media all and (max-width: 1326px) {
  a#btnizquierda {
    left: -65px;
  }

  a#btnderecha {
    right: -50px;
  }
}
@media all and (max-width: 1192px) {
  a#btnizquierda {
    left: -51px;
  }

  .productos h2 {
    font-size: 2.25rem;
  }

  .productos figure figcaption h3 {
    font-size: 1.1rem;
  }

  .productos figure figcaption p.price {
    font-size: 1.025rem;
  }

  .redes h1 {
    font-size: 2.25rem;
  }
}
@media all and (max-width: 1154px) {
  .redes .contenedor .columna-instagram .contenedor-de-posts .post {
    padding: 0 0 0 0.5rem;
  }

  .redes .contenedor .columna-instagram .contenedor-de-posts .post:first-child {
    margin-bottom: 1.5rem;
  }
}
@media all and (max-width: 1118px) {
  .redes .contenedor .columna-instagram .contenedor-de-posts .post .texto-container {
    padding: 1rem;
  }

  .redes .contenedor .columna-instagram .contenedor-de-posts {
    padding: 0 2rem;
  }

  .redes .contenedor .columna-instagram .contenedor-de-posts .post {
    padding: 0;
  }
}
@media all and (max-width: 1048px) {
  .redes .contenedor .columna-facebook {
    width: 100%;
  }

  .redes .contenedor .columna-instagram {
    width: 100%;
  }

  #fbpost {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
  }

  #fbpost span {
    margin: 2rem 0 3rem 0;
  }

  .redes .contenedor .columna-instagram .contenedor-de-posts {
    width: 100%;
  }

  .redes .contenedor .columna-instagram .contenedor-de-posts .post:first-child {
    margin-bottom: 0;
  }

  .redes .contenedor .columna-instagram .contenedor-de-posts {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .redes .contenedor .columna-instagram .contenedor-de-posts .post:first-child {
    width: 49%;
    margin: 0 auto;
  }

  .redes .contenedor .columna-instagram .contenedor-de-posts .post:last-child {
    width: 49%;
    margin: 0 auto;
  }
}
@media all and (max-width: 1030px) {
  a#btnizquierda {
    left: -45px;
  }

  a#btnderecha {
    right: -43px;
  }

  .redes .contenedor .columna-instagram .contenedor-de-posts .post .texto-container {
    padding: 0.7rem;
  }

  .redes .contenedor .columna-instagram .contenedor-de-posts .post .texto-container p {
    margin-bottom: 0.75rem !important;
  }
}
@media all and (max-width: 990px) {
  #productos figure {
    display: block !important;
    margin: 0 auto !important;
    text-align: center !important;
  }
  #productos figure .icons {
    display: block;
    margin: 0 auto;
    width: 57%;
  }
}
@media all and (max-width: 900px) {
  .redes .contenedor .columna-instagram .contenedor-de-posts .post .texto-container {
    padding: 0.45rem;
  }

  .desccontacto {
    font-size: 0.9rem;
  }

  h2.titulocontacto {
    font-size: 1.7rem;
  }

  .contacto {
    padding: 2.5rem 0;
  }

  .redes .contenedor .columna-instagram .contenedor-de-posts .post .texto-container h2 {
    font-size: 1.05rem;
  }

  .redes .contenedor .columna-instagram .contenedor-de-posts .post .texto-container p {
    font-size: 0.85rem;
  }

  .productos {
    margin-bottom: 1rem;
  }

  #fbpost {
    margin-bottom: 2rem !important;
  }
  #fbpost span {
    width: 360px !important;
    height: 320px !important;
  }
  #fbpost span iframe {
    width: 100% !important;
  }
}
@media all and (max-width: 850px) {
  .redes .contenedor .columna-instagram .contenedor-de-posts {
    flex-direction: column;
  }

  .redes .contenedor .columna-instagram .contenedor-de-posts {
    padding: 0 1rem;
  }

  .redes .contenedor .columna-instagram .contenedor-de-posts .post:first-child {
    margin: 0 auto 1.25rem auto;
  }

  .redes .redes-sociales a {
    margin: 1.5rem;
  }

  a#btnizquierda {
    left: -40px;
  }

  a#btnderecha {
    right: -40px;
  }

  header .menu-barra-pc {
    flex-direction: column;
  }
  header .menu-barra-pc a, header .menu-barra-pc .busqueda, header .menu-barra-pc .iconos {
    margin: 0.3rem 0;
  }
}
@media all and (max-width: 799px) {
  .redes .contenedor .columna-instagram .contenedor-de-posts .post .texto-container {
    padding: 0.3rem;
  }

  .redes .contenedor .columna-instagram .contenedor-de-posts {
    margin: 1rem 0;
  }
}
@media all and (max-width: 767px) {
  #productos figure .icons {
    display: block;
    margin: 0 auto;
    width: 40%;
  }
}
@media all and (max-width: 650px) {
  .productos h2 {
    font-size: 1.75rem;
    margin: 2rem 0;
  }

  header .menu-barra-pc .busqueda {
    width: 300px;
  }
  header .menu-barra-pc .busqueda input {
    width: 100%;
    display: block;
    margin: 0 auto;
  }

  header .menu-barra-pc .busqueda i.fa-search {
    right: 0;
  }

  .redes h1 {
    font-size: 1.75rem;
  }

  .redes .redes-sociales a {
    margin: 1.1rem;
    font-size: 0.9rem;
  }

  .redes .contenedor .columna-instagram .contenedor-de-posts .post:first-child {
    flex-direction: column;
  }

  .redes .contenedor .columna-instagram .contenedor-de-posts .post:last-child {
    flex-direction: column;
  }

  .redes .contenedor .columna-instagram .contenedor-de-posts .post .img-container {
    width: 100%;
  }

  .redes .contenedor .columna-instagram .contenedor-de-posts .post .texto-container {
    width: 100%;
  }

  .redes .contenedor .columna-instagram .contenedor-de-posts .post .texto-container h2 {
    font-size: 1rem;
  }

  .redes .contenedor .columna-instagram .contenedor-de-posts .post .texto-container p {
    font-size: 0.8rem;
    margin-bottom: 0.5rem;
  }

  .desccontacto {
    font-size: 0.8rem;
    color: #696969;
  }

  a#btnizquierda {
    left: 0;
  }

  a#btnderecha {
    right: 0;
  }
}
@media all and (max-width: 500px) {
  .redes .contenedor .columna-instagram .contenedor-de-posts {
    padding: 0;
  }

  .menu-barra-pc h2 {
    font-size: 1.5rem;
  }

  header .menu-barra-pc .busqueda {
    width: 250px;
  }
  header .menu-barra-pc .busqueda input {
    width: 100%;
    display: block;
    margin: 0 auto;
  }

  header .menu-barra-pc .busqueda i.fa-search {
    right: 0;
  }

  header .barra-sticky-pc .menu-principal a {
    margin: 0.25rem;
    font-size: 0.9rem;
  }

  header .menu-barra-pc .iconos a {
    font-size: 1.3rem;
  }

  .redes .contenedor .columna-instagram .contenedor-de-posts .post:first-child {
    width: 70%;
    display: block;
    margin: 0.25rem auto 1.25rem auto;
  }

  .redes .contenedor .columna-instagram .contenedor-de-posts .post:last-child {
    width: 70%;
    display: block;
    margin: 0 auto;
  }
}
@media all and (max-width: 400px) {
  .redes .contenedor .columna-instagram .contenedor-de-posts .post:first-child {
    width: 100%;
    display: block;
    margin: 0.25rem auto 1.25rem auto;
    padding: 1rem;
  }

  .redes .contenedor .columna-instagram .contenedor-de-posts .post:last-child {
    width: 100%;
    display: block;
    margin: 0 auto;
    padding: 1rem;
  }

  .redes .contenedor .columna-instagram .contenedor-de-posts .post .img-container .to-instagram a i.fab {
    font-size: 2rem;
  }

  .productos h2 {
    font-size: 1.25rem;
    margin: 1rem 0;
  }

  .redes h1 {
    font-size: 1.25rem;
  }

  #productos figure {
    width: 90%;
  }
}
@media all and (max-width: 350px) {
  header .menu-barra-pc .busqueda {
    width: 200px;
  }
  header .menu-barra-pc .busqueda input {
    font-size: 0.8rem;
    width: 100%;
    display: block;
    margin: 0 auto;
  }

  header .menu-barra-pc .busqueda i.fa-search {
    right: 0;
  }

  .redes .contenedor .columna-instagram .contenedor-de-posts .post:first-child {
    padding: 0.5rem;
  }

  .redes .contenedor .columna-instagram .contenedor-de-posts .post:last-child {
    padding: 0.5rem;
  }
}